<div class="p-5 shadow-lg">
    <div class="flex items-center">
        <div class="w-[5rem] h-[5rme] lg:w-[9rem] lg:h-[9rem]">
            <img [src]="item.product.imageUrl"
                alt="" class="w-full h-full object-cover object-top" />
        </div>
        <div class="ml-5 space-y-1">
            <p class="font-semibold">
                {{item.product.title}}
            </p>
            <p class="text-gray-500">
                Size:{{item.size}},{{item.product.color}}
            </p>
            <p class="text-gray-500 mt-2">Seller : KSH Trendz</p>
            <div class="flex space-x-2 items-center pt-3">
                <p class="text-gray-500 line-through">₹{{item.price}}</p>
                <p class="font-semibold text-lg">₹{{item.discountedPrice}} </p>
                <p class="text-green-600 font-semibold">{{item.product.discountPercent}}%  off</p>
            </div>
        </div>
    </div>
    <div *ngIf="showButton"  class="flex items-center lg:space-x-10 pt-4 justify-between">
        <div class="flex items-center space-x-2 ">
            <div class="example-button-contianer">
                <button mat-mini-fab class="" color="accent" (click)="updateCartItem(-1)" [disabled]="item.quantity === 1">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
            <span class="py-1 px-7 border border-gray-800 rounded-sm">{{item.quantity}}</span>
            <div class="example-button-contianer">
                <button mat-mini-fab class="" color="accent" (click)="updateCartItem(1)" [disabled]="false">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
           
        </div>
        <button (click)="removeCartItem()" color="accent" mat-stroked-button>Remove</button>
    </div>
</div>